*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }

body {
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 400;
  line-height: 1.6; }

.container {
  display: grid;
  grid-template-columns: [full-start] 10% [center-start] 1fr [center-end] 10% [full-end]; }
  .container__center {
    grid-column: center-start / center-end; }

/*
 * Open Sans
================================================================================ */
@font-face {
  font-family: 'opensans-regular';
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot");
  src: url("fonts/opensans/OpenSans-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Regular-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Regular-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Regular-webfont.svg#open_sansregular") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-italic';
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot");
  src: url("fonts/opensans/OpenSans-Italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Italic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Italic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Italic-webfont.svg#open_sansitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-light';
  src: url("fonts/opensans/OpenSans-Light-webfont.eot");
  src: url("fonts/opensans/OpenSans-Light-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Light-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Light-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Light-webfont.svg#open_sanslight") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-light-italic';
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-LightItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-LightItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-LightItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-LightItalic-webfont.svg#open_sanslight_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-semibold';
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Semibold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Semibold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Semibold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Semibold-webfont.svg#open_sanssemibold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-semibold-italic';
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-SemiboldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-SemiboldItalic-webfont.svg#open_sanssemibold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold';
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot");
  src: url("fonts/opensans/OpenSans-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-Bold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-Bold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-Bold-webfont.svg#open_sansbold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-bold-italic';
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-BoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-BoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-BoldItalic-webfont.svg#open_sansbold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-extrabold';
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBold-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBold-webfont.svg#open_sansextrabold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'opensans-extrabold-italic';
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot");
  src: url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.woff") format("woff"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.ttf") format("truetype"), url("fonts/opensans/OpenSans-ExtraBoldItalic-webfont.svg#open_sansextrabold_italic") format("svg");
  font-weight: normal;
  font-style: normal; }

/*
 * Libre Baskerville
================================================================================ */
@font-face {
  font-family: 'librebaskerville-bold';
  src: url("fonts/librebaskerville/librebaskerville-bold-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-bold-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-bold-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-bold-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-bold-webfont.svg#libre_baskervillebold") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'librebaskerville-italic';
  src: url("fonts/librebaskerville/librebaskerville-italic-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-italic-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-italic-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-italic-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-italic-webfont.svg#libre_baskervilleitalic") format("svg");
  font-weight: normal;
  font-style: normal; }

@font-face {
  font-family: 'librebaskerville-regular';
  src: url("fonts/librebaskerville/librebaskerville-regular-webfont.eot");
  src: url("fonts/librebaskerville/librebaskerville-regular-webfont.eot?#iefix") format("embedded-opentype"), url("fonts/librebaskerville/librebaskerville-regular-webfont.woff") format("woff"), url("fonts/librebaskerville/librebaskerville-regular-webfont.ttf") format("truetype"), url("fonts/librebaskerville/librebaskerville-regular-webfont.svg#libre_baskervilleregular") format("svg");
  font-weight: normal;
  font-style: normal; }

.topbar {
  grid-column: full-start / full-end;
  background-color: #c4c4c4;
  color: #fefefe;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 30; }
  @media only screen and (max-width: 37.5em) {
    .topbar {
      height: 4rem;
      padding: 0 1rem; } }
  .topbar__text--link {
    color: #fefefe; }

.navsearch {
  height: 9rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end; }
  @media only screen and (max-width: 62.5em) {
    .navsearch {
      flex-basis: 0; } }
  @media only screen and (max-width: 37.5em) {
    .navsearch {
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      height: auto; } }

.search {
  height: 3rem;
  display: flex;
  border-bottom: 1px solid #c4c4c4; }
  @media only screen and (max-width: 62.5em) {
    .search {
      border-bottom: none; } }
  .search__input {
    border: none;
    cursor: pointer; }
    .search__input::-webkit-input-placeholder, .search__input:-moz-placeholder, .search__input::-moz-placeholder, .search__input:-ms-input-placeholder, .search__input::placeholder {
      color: #000; }
    @media only screen and (max-width: 62.5em) {
      .search__input {
        width: 10rem; } }
  .search__button {
    border: none;
    background-color: transparent;
    cursor: pointer; }
  @media only screen and (max-width: 62.5em) {
    .search {
      flex: 1 1 0px; } }
  @media only screen and (max-width: 37.5em) {
    .search {
      margin: 1rem 0; } }

.logo {
  width: 17%;
  margin-bottom: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .logo {
      width: 33%;
      flex: 1 1 0px; } }
  @media only screen and (max-width: 37.5em) {
    .logo {
      margin: 3rem 0;
      order: -1;
      width: 40%; } }

.cart {
  height: 4rem;
  display: flex;
  align-items: flex-end; }
  .cart__signin {
    text-decoration: none;
    color: #000;
    margin-right: 1rem; }
  .cart__iconbox {
    display: flex;
    flex-direction: column;
    align-items: center; }
  @media only screen and (max-width: 62.5em) {
    .cart {
      justify-content: center; } }
  @media only screen and (max-width: 37.5em) {
    .cart {
      margin: 1rem 0; } }

.dropdown {
  position: relative; }
  .dropdown:hover .dropdown__content {
    display: block; }
  .dropdown__content {
    display: none;
    position: absolute;
    right: 0;
    top: 100%;
    z-index: 10;
    background-color: #fefefe;
    width: 40rem;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    padding: 3rem;
    box-shadow: 0.5rem 0.5rem 1rem rgba(0, 0, 0, 0.3); }
    @media only screen and (max-width: 37.5em) {
      .dropdown__content {
        width: 20rem;
        font-size: 1.1rem; } }
  .dropdown__title {
    font-family: "Libre Baskerville", serif;
    font-size: 2rem; }
    @media only screen and (max-width: 37.5em) {
      .dropdown__title {
        font-size: 1.6rem; } }
  .dropdown__item {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
    border-bottom: 1px solid #c4c4c4; }
    @media only screen and (max-width: 37.5em) {
      .dropdown__item {
        flex-direction: column; } }
    .dropdown__item--img, .dropdown__item--text {
      margin-right: 2rem; }
      @media only screen and (max-width: 37.5em) {
        .dropdown__item--img, .dropdown__item--text {
          margin-right: 0;
          margin-bottom: 1.5rem; } }
  .dropdown__subtotal {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0; }
  .dropdown__btn a {
    text-decoration: none;
    color: #fefefe; }
  .dropdown__btn {
    background-color: #000;
    color: #fefefe;
    border: none;
    height: 4rem;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase; }
    @media only screen and (max-width: 37.5em) {
      .dropdown__btn {
        font-size: 1.1rem; } }
  @media only screen and (max-width: 62.5em) {
    .dropdown {
      flex: 1 1 0px; } }
  @media only screen and (max-width: 37.5em) {
    .dropdown {
      align-self: flex-end; } }

.title-1 {
  font-family: "Libre Baskerville", serif;
  font-style: italic; }

.title-2 {
  font-family: "Libre Baskerville", serif;
  font-weight: 700; }

.navmenu__list {
  height: 4rem;
  margin: 3rem 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 1px solid #c4c4c4;
  border-top: 1px solid #c4c4c4; }
  .navmenu__list--item {
    list-style: none;
    text-transform: uppercase;
    font-size: 1.2rem; }
  .navmenu__list--item a {
    text-decoration: none;
    color: #000; }

.shop {
  position: relative;
  transition: all 0.2s;
  cursor: pointer; }
  .shop:hover .shop__content {
    display: grid;
    grid-template-columns: repeat(3, max-content); }
    @media only screen and (max-width: 37.5em) {
      .shop:hover .shop__content {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, max-content); } }
  .shop__content {
    display: none;
    position: absolute;
    left: 0;
    top: 100%;
    z-index: 10;
    background-color: #fefefe;
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    line-height: 2.5;
    padding: 1rem 0 3rem 0;
    border-top: 3px solid #c4c4c4; }
    @media only screen and (max-width: 62.5em) {
      .shop__content {
        font-size: 1.1rem;
        left: -10rem; } }
    @media only screen and (max-width: 37.5em) {
      .shop__content {
        font-size: 1.1rem; } }
    .shop__content--col-1 {
      border-right: 1px solid #c4c4c4;
      display: flex;
      flex-direction: column;
      justify-content: space-between; }
    .shop__content--col-1, .shop__content--col-2, .shop__content--col-3 {
      padding: 1.5rem 3rem; }

#toggle,
.toggle {
  display: none; }

@media only screen and (max-width: 37.5em) {
  .menu {
    display: none;
    opacity: 0;
    width: 70%;
    position: absolute; }
  .menu > li {
    display: block;
    width: 100%;
    margin: 0; }
  .menu > li > a {
    display: block;
    width: 100%;
    text-decoration: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; }
  .toggle {
    display: block;
    position: relative;
    cursor: pointer;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    user-select: none; }
  #toggle:checked + div .menu {
    display: block;
    opacity: 1; } }

@media only screen and (max-width: 37.5em) {
  .menu {
    background: #fefefe;
    margin: 0;
    border-top: none;
    border-bottom: none;
    padding: 1rem;
    line-height: 2; }
  .menu,
  .menu > li,
  .menu > li > a {
    height: auto; }
  .toggle:after {
    content: attr(data-open);
    display: block;
    padding: 1rem 2rem;
    background: #c4c4c4;
    color: #000;
    text-align: center;
    font-size: 1.3rem;
    text-transform: uppercase;
    text-shadow: none;
    -o-transition: all 0.5s linear;
    transition: all 0.5s linear; }
  .toggle:hover:after {
    background: #c4c4c4; }
  #toggle:checked + div .toggle:after {
    content: attr(data-close); } }

.breadcrumbs {
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  height: 4rem;
  margin: 3rem 0;
  display: flex;
  align-items: center; }
  .breadcrumbs__link {
    text-decoration: none;
    color: #000; }

.product {
  display: grid;
  grid-template-columns: 3fr 2fr 1fr;
  grid-template-rows: repeat(2, minmax(min-content, max-content)) 10rem;
  grid-column-gap: 3rem;
  grid-row-gap: 2rem; }
  @media only screen and (max-width: 62.5em) {
    .product {
      grid-template-columns: 3fr 2fr;
      grid-template-rows: repeat(2, minmax(min-content, max-content)) 1rem;
      grid-row-gap: 5rem; } }
  @media only screen and (max-width: 37.5em) {
    .product {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(min-content, max-content)) 1rem; } }
  .product__img {
    grid-column: 1 / 2; }
    .product__img--main {
      grid-row: 1 / 2;
      width: 100%; }
      @media only screen and (max-width: 37.5em) {
        .product__img--main {
          width: 85%;
          margin: 0 auto; } }
    .product__img--other {
      grid-row: 2 /3;
      margin: 0 1rem;
      display: flex;
      justify-content: center; }
      @media only screen and (max-width: 62.5em) {
        .product__img--other {
          grid-column: 2 / 3;
          grid-row: 1 / 2;
          flex-direction: column;
          justify-content: space-between;
          margin: 0; } }
      @media only screen and (max-width: 37.5em) {
        .product__img--other {
          grid-column: 1 / 2;
          grid-row: 2 / 3;
          flex-direction: row;
          margin: 0 1rem;
          justify-content: center; } }
    .product__img--other > img {
      width: 30%; }
      @media only screen and (max-width: 62.5em) {
        .product__img--other > img {
          width: 45%; } }
  .product__content {
    grid-column: 2 / 3; }
    .product__content--1 a {
      color: #000;
      text-transform: uppercase;
      font-family: "Libre Baskerville", serif;
      font-style: italic;
      font-size: 1.4rem;
      letter-spacing: 0.1rem; }
    .product__content--2 {
      font-family: "Libre Baskerville", serif;
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.8rem;
      letter-spacing: 0.2rem; }
    .product__content--3 {
      font-size: 1.8rem;
      letter-spacing: 0.1rem; }
    .product__content--4 img {
      width: 2rem; }
    .product__content--5 {
      margin-bottom: 2rem; }
    .product__content--6 {
      margin-bottom: 2rem;
      font-size: 1.1rem; }
      @media only screen and (max-width: 62.5em) {
        .product__content--6 {
          max-width: 80%; } }
    .product__content--7 {
      margin-bottom: 2rem;
      text-transform: uppercase;
      font-size: 1.2rem; }
    .product__content--8 {
      margin-bottom: 1rem;
      font-size: 1.2rem; }
    .product__content--8 input {
      width: 5rem;
      height: 3rem;
      text-align: center; }
    .product__content--9 {
      background-color: #000;
      color: #fefefe;
      border: none;
      height: 4rem;
      letter-spacing: 0.1rem;
      padding: 1rem 2rem;
      width: 100%;
      border-radius: 3px;
      cursor: pointer;
      text-transform: uppercase;
      width: 85%;
      margin-bottom: 3rem; }
      @media only screen and (max-width: 62.5em) {
        .product__content--9 {
          padding: 0.5rem 1rem;
          width: 30%; } }
      @media only screen and (max-width: 37.5em) {
        .product__content--9 {
          width: 35%;
          font-size: 1.1rem;
          grid-column: 1 / 2;
          grid-row: 3 / 4; } }
    .product__content--9 a {
      text-decoration: none;
      color: #fefefe; }
    .product__content--10 {
      display: flex;
      justify-content: start;
      align-items: center;
      text-decoration: none;
      color: #000; }
    .product__content--10 img {
      margin-right: 1rem; }
    .product__content--10 p {
      text-transform: uppercase;
      font-size: 1.1rem; }
    @media only screen and (max-width: 62.5em) {
      .product__content {
        grid-column: 1 / 3;
        grid-row: 2 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .product__content {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }

.more {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, max-content) 10rem;
  grid-column-gap: 5rem; }
  @media only screen and (max-width: 37.5em) {
    .more {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, minmax(min-content, max-content)) 1rem;
      grid-column-gap: 0;
      grid-row-gap: 5rem; } }
  .more__title {
    grid-row: 1 / 2;
    grid-column: 1 / 5;
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.2rem;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center; }
    @media only screen and (max-width: 37.5em) {
      .more__title {
        height: 2rem;
        margin-bottom: 0; } }
  .more__items {
    grid-row: 2 / 3; }
    .more__items--1 {
      grid-column: 1 / 2; }
      @media only screen and (max-width: 37.5em) {
        .more__items--1 {
          grid-column: 1 / 2;
          grid-row: 2 / 3; } }
    .more__items--2 {
      grid-column: 2 / 3; }
      @media only screen and (max-width: 37.5em) {
        .more__items--2 {
          grid-column: 1 / 2;
          grid-row: 3 / 4; } }
    .more__items--3 {
      grid-column: 3 / 4; }
      @media only screen and (max-width: 37.5em) {
        .more__items--3 {
          grid-column: 1 / 2;
          grid-row: 4 / 5; } }
    .more__items--4 {
      grid-column: 4 / 5; }
      @media only screen and (max-width: 37.5em) {
        .more__items--4 {
          grid-column: 1 / 2;
          grid-row: 5 / 6; } }

.items > img {
  width: 100%; }
  @media only screen and (max-width: 37.5em) {
    .items > img {
      width: 75%;
      margin-bottom: 2rem; } }

.items {
  text-transform: uppercase;
  font-size: 1.2rem; }
  .items__text--title-2 {
    font-family: "Libre Baskerville", serif;
    font-weight: 700; }
  .items__text--title-1 {
    font-family: "Libre Baskerville", serif;
    font-style: italic; }

.reviews {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 7rem; }
  @media only screen and (max-width: 37.5em) {
    .reviews {
      margin-bottom: 4rem; } }
  .reviews__title {
    text-transform: uppercase;
    font-family: "Libre Baskerville", serif;
    letter-spacing: 0.2rem;
    height: 4rem;
    margin-bottom: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0; }
  .reviews__text {
    font-size: 1.2rem;
    margin-bottom: 2rem; }
  .reviews__btn {
    background-color: #000;
    color: #fefefe;
    border: none;
    height: 4rem;
    letter-spacing: 0.1rem;
    padding: 1rem 2rem;
    width: 100%;
    border-radius: 3px;
    cursor: pointer;
    text-transform: uppercase;
    width: 20%; }
    @media only screen and (max-width: 62.5em) {
      .reviews__btn {
        padding: 0.5rem 1rem;
        width: 30%; } }
    @media only screen and (max-width: 37.5em) {
      .reviews__btn {
        width: 35%;
        font-size: 1.1rem; } }
  .reviews__btn > a {
    text-decoration: none;
    color: #fefefe; }

.footer {
  display: grid;
  grid-template-columns: 1fr [footer-start] repeat(3, 3fr) [footer-end] 1fr;
  grid-column-gap: 6rem;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 10rem;
  letter-spacing: 0.2rem; }
  @media only screen and (max-width: 75em) {
    .footer {
      grid-template-columns: 1rem [footer-start] repeat(3, 3fr) [footer-end] 1rem; } }
  @media only screen and (max-width: 62.5em) {
    .footer {
      grid-template-columns: [footer-start] repeat(2, 3fr) [footer-end];
      grid-template-rows: repeat(2, max-content); } }
  @media only screen and (max-width: 37.5em) {
    .footer {
      grid-template-columns: 1fr;
      grid-template-rows: repeat(3, minmax(min-content, max-content)) 1rem;
      grid-column-gap: 0;
      grid-row-gap: 5rem; } }
  .footer__separation {
    grid-column: 1 / 6;
    border: solid #fefefe;
    border-color: #c4c4c4;
    border-width: 1px 0 0;
    clear: both;
    height: 0;
    margin-bottom: 7rem; }
    @media only screen and (max-width: 62.5em) {
      .footer__separation {
        grid-column: 1 / 3;
        grid-row: 1 / 2; } }
    @media only screen and (max-width: 37.5em) {
      .footer__separation {
        margin-bottom: 0; } }
  .footer__col-1--title, .footer__col-2--title, .footer__col-3--title {
    border-bottom: 3px solid #000;
    margin-bottom: 2rem; }
  .footer__col-1--p, .footer__col-2--p, .footer__col-3--p {
    line-height: 2; }
  .footer__col-1--p > a, .footer__col-2--p > a, .footer__col-3--p > a {
    text-decoration: none;
    color: #000; }
  .footer__col-1 {
    grid-column: 2 / 3; }
    @media only screen and (max-width: 62.5em) {
      .footer__col-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .footer__col-1 {
        grid-column: 1 / 2;
        grid-row: 2 / 3; } }
  .footer__col-2 {
    grid-column: 3 / 4; }
    @media only screen and (max-width: 62.5em) {
      .footer__col-2 {
        grid-column: 2 / 3;
        grid-row: 2 / 3; } }
    @media only screen and (max-width: 37.5em) {
      .footer__col-2 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }
  .footer__col-3 {
    grid-column: 4 / 5; }
    @media only screen and (max-width: 62.5em) {
      .footer__col-3 {
        grid-column: 1 / 2;
        grid-row: 3 / 4; } }
    @media only screen and (max-width: 37.5em) {
      .footer__col-3 {
        grid-column: 1 / 2;
        grid-row: 4 / 5; } }
    .footer__col-3--social {
      margin-left: 2rem; }
