.navmenu {
    &__list {
        height: 4rem;
        margin: 3rem 0;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border-bottom: $border-btm;
        border-top: $border-btm;

        // @media only screen and (max-width: $bp-small) {
        //     flex-direction: column;
        //     height: auto;
        // }

        &--item {
            list-style: none;
            text-transform: uppercase;
            font-size: 1.2rem;
        }

        &--item a {
            @include link;
        }
    }
}

.shop {
    position: relative;
    transition: all 0.2s;
    cursor: pointer;

    &:hover .shop__content {
        display: grid;
        grid-template-columns: repeat(3, max-content);

        @media only screen and (max-width: $bp-small) {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, max-content);
        }
    }

    &__content {
        display: none;
        position: absolute;
        left: 0;
        top: 100%;
        z-index: 10;
        background-color: $color-white;

        font-size: 1.2rem;
        text-transform: uppercase;
        letter-spacing: 0.1rem;
        line-height: 2.5;
        padding: 1rem 0 3rem 0;
        border-top: 3px solid $color-grey;

        @media only screen and (max-width: $bp-large) {
            font-size: 1.1rem;
            left: -10rem;
        }

        @media only screen and (max-width: $bp-small) {
            font-size: 1.1rem;
        }

        &--col-1 {
            border-right: $border-btm;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }

        &--col-1,
        &--col-2,
        &--col-3 {
            padding: 1.5rem 3rem;
        }
    }
}

// RESPONSIVE NAVBAR
#toggle,
.toggle {
    display: none;
}

@media only screen and (max-width: $bp-small) {
    .menu {
        display: none;
        opacity: 0;
        width: 70%;
        position: absolute;
    }

    .menu > li {
        display: block;
        width: 100%;
        margin: 0;
    }

    .menu > li > a {
        display: block;
        width: 100%;
        text-decoration: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    .toggle {
        display: block;
        position: relative;
        cursor: pointer;
        -webkit-touch-callout: none;
        -webkit-user-select: none;
        user-select: none;
    }

    #toggle:checked + div .menu {
        display: block;
        opacity: 1;
    }
}

@media only screen and (max-width: $bp-small) {
    .menu {
        background: $color-white;
        margin: 0;
        border-top: none;
        border-bottom: none;
        padding: 1rem;
        line-height: 2;
    }

    .menu,
    .menu > li,
    .menu > li > a {
        height: auto;
    }

    .toggle:after {
        content: attr(data-open);
        display: block;
        padding: 1rem 2rem;
        background: $color-grey;
        color: $color-black;
        text-align: center;
        font-size: 1.3rem;
        text-transform: uppercase;
        text-shadow: none;
        -o-transition: all 0.5s linear;
        transition: all 0.5s linear;
    }

    .toggle:hover:after {
        background: $color-grey;
    }

    #toggle:checked + div .toggle:after {
        content: attr(data-close);
    }
}
