.product {
    display: grid;
    grid-template-columns: 3fr 2fr 1fr;
    grid-template-rows: repeat(2, minmax(min-content, max-content)) 10rem;
    grid-column-gap: 3rem;
    grid-row-gap: 2rem;

    @media only screen and (max-width: $bp-large) {
        grid-template-columns: 3fr 2fr;
        grid-template-rows: repeat(2, minmax(min-content, max-content)) 1rem;
        grid-row-gap: 5rem;
    }

    @media only screen and (max-width: $bp-small) {
        grid-template-columns: 1fr;
        grid-template-rows: repeat(3, minmax(min-content, max-content)) 1rem;
    }

    &__img {
        grid-column: 1 / 2;

        &--main {
            grid-row: 1 / 2;
            width: 100%;

            @media only screen and (max-width: $bp-small) {
                width: 85%;
                margin: 0 auto;
            }
        }

        &--other {
            grid-row: 2 /3;
            margin: 0 1rem;

            display: flex;
            justify-content: center;

            @media only screen and (max-width: $bp-large) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                flex-direction: column;
                justify-content: space-between;
                margin: 0;
            }

            @media only screen and (max-width: $bp-small) {
                grid-column: 1 / 2;
                grid-row: 2 / 3;
                flex-direction: row;
                margin: 0 1rem;
                justify-content: center;
            }
        }

        &--other > img {
            width: 30%;

            @media only screen and (max-width: $bp-large) {
                width: 45%;
            }
        }
    }

    &__content {
        grid-column: 2 / 3;

        &--1 a {
            color: $color-black;
            text-transform: uppercase;
            @include title-1;
            font-size: 1.4rem;
            letter-spacing: 0.1rem;
        }

        &--2 {
            @include title-2;
            text-transform: uppercase;
            font-size: 1.8rem;
            letter-spacing: 0.2rem;
        }

        &--3 {
            font-size: 1.8rem;
            letter-spacing: 0.1rem;
        }

        &--4 img {
            width: 2rem;
        }

        &--5 {
            margin-bottom: 2rem;
        }

        &--6 {
            margin-bottom: 2rem;
            font-size: 1.1rem;

            @media only screen and (max-width: $bp-large) {
                max-width: 80%;
            }
        }

        &--7 {
            margin-bottom: 2rem;
            text-transform: uppercase;
            font-size: 1.2rem;
        }

        &--8 {
            margin-bottom: 1rem;
            font-size: 1.2rem;
        }

        &--8 input {
            width: 5rem;
            height: 3rem;
            text-align: center;

            // /* Chrome, Safari, Edge, Opera */
            // &::-webkit-outer-spin-button,
            // &::-webkit-inner-spin-button {
            //     -webkit-appearance: none;
            //     margin: 0;
            // }

            // /* Firefox */
            // &[type='number'] {
            //     -moz-appearance: textfield;
            // }
        }

        &--9 {
            @include btn;
            width: 85%;
            margin-bottom: 3rem;

            @media only screen and (max-width: $bp-large) {
                padding: 0.5rem 1rem;
                width: 30%;
            }

            @media only screen and (max-width: $bp-small) {
                width: 35%;
                font-size: 1.1rem;
                grid-column: 1 / 2;
                grid-row: 3 / 4;
            }
        }

        &--9 a {
            text-decoration: none;
            color: $color-white;
        }

        &--10 {
            display: flex;
            justify-content: start;
            align-items: center;
            text-decoration: none;
            color: $color-black;
        }

        &--10 img {
            margin-right: 1rem;
        }

        &--10 p {
            text-transform: uppercase;
            font-size: 1.1rem;
        }

        @media only screen and (max-width: $bp-large) {
            grid-column: 1 / 3;
            grid-row: 2 / 3;
        }

        @media only screen and (max-width: $bp-small) {
            grid-column: 1 / 2;
            grid-row: 3 / 4;
        }
    }
}
